* {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}
div {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: lighter;
}
img {
    width: 100%;
    height: auto;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}