* {
    background-color: black;
    color: white;
    text-align: center;
}
.h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: lighter;
}

.first {
    color: beige;
}

.container {
    width: 80%;
    margin: 0 auto;
}